<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "title" . }}{{- .Site.Title -}}{{ end }}</title>

    <link rel="stylesheet" href="{{ "css/dark.css" | relURL }}">

  </head>
  <body>


    <!-- Navbar -->
    {{ partial "navbar.html" . }}

    <!-- Main Content Section -->
    <section class="section">
      <div class="columns">
        <div class="column is-10-tablet is-offset-1-tablet is-8-desktop is-offset-2-desktop is-6-widescreen is-offset-3-widescreen">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </section>

    {{ if ne .Kind "page" }}
    <!-- Pagination -->
    <section class="section">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          {{ partial "pagination.html" .Paginator }}
        </div>
      </div>
    </section>
    {{ end }}

    <!-- Footer -->
    <footer class="footer" style="margin-top: 6rem; padding: 6rem 0;">
      {{ partial "footer.html" . }}
    </footer>

  </body>
</html>
