<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ .Site.BaseURL }}">

    <title>
      {{ block "title" . }}
        {{ if .Page.IsHome }}
          {{ .Site.Title -}}
        {{ else }}
          {{- .Title }} - {{ .Site.Title -}}
        {{ end }}
      {{ end }}
    </title>

    {{ $style := resources.Get "bulmin.sass" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink | relURL }}">

    {{ partial "custom_header.html" . }}

  </head>
  <body>

    <!-- Navbar -->
    {{ partial "navbar.html" . }}

    <!-- Main Content Section -->
    <section class="section">
      <div class="columns is-centered">
        <div class="column is-10-tablet is-8-desktop is-6-widescreen">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      {{ partial "footer.html" . }}
    </footer>

    {{ partial "custom_footer.html" . }}

  </body>
</html>
