<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ .Site.BaseURL }}">

    <title>{{ block "title" . }}{{- .Title }} - {{ .Site.Title -}}{{ end }}</title>

    {{ $style := resources.Get "bulmin.sass" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink | relURL }}">

  </head>
  <body>

    <!-- Navbar -->
    {{ partial "navbar.html" . }}

    <!-- Main Content Section -->
    <section class="section">
      <div class="columns">
        <div class="column is-10-tablet is-offset-1-tablet is-8-desktop is-offset-2-desktop is-6-widescreen is-offset-3-widescreen">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      {{ partial "footer.html" . }}
    </footer>

  </body>
</html>
