{{ define "main" }}

  <article class="card" style="margin-bottom: 3rem;">
    <div class="card-content">

      <h1 class="title is-3" style="margin-bottom: 0;">
        {{ .Title }}
      </h1>

      <div class="card-meta has-text-left" style="margin-bottom: 1rem;">
        {{ if not .Date.IsZero }}
          <p class="subtitle is-6 has-text-grey">
            publicado {{ .Date.Format "2006.01.02" }}
          </p>
        {{ end }}
      </div>

      <div class="content">
        {{ .Content }}
      </div>

    </div>
  </article>

{{ end }}
