<nav class="navbar is-primary" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">

    <a href="{{ .Site.BaseURL }}" class="navbar-item is-size-5">
      {{ .Site.Title }}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu is-active">

    <div class="navbar-start">

      <!-- Menu Links -->
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="navbar-item">
          {{ .Name }}
        </a>
      {{end}}

    </div>

  </div>

</nav>
