<nav class="navbar is-primary" role="navigation" aria-label="main navigation">

  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <span>Bulmin</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu is-active">

      <div class="navbar-start">

        <a class="navbar-item" href="#">
          Link
        </a>

        <a class="navbar-item" href="#">
          Link
        </a>

      </div>

      <div class="navbar-end">

        <a class="navbar-item" href="#">
          Link
        </a>

        <a class="navbar-item" href="#">
          Link
        </a>

        <a class="navbar-item" href="#">
          Link
        </a>

      </div>

    </div>

  </div>

</nav>
